In [10]:
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine

df = pd.read_csv('resumo_semana_03_12.csv', delimiter=';')
df.columns = map(str.lower, df.columns)
df.columns = df.columns.str.replace(' ', '_')
df.columns = df.columns.str.replace('í', 'i')
df.columns = df.columns.str.replace('é', 'e')
df.columns = df.columns.str.replace('ç', 'c')
df.columns = df.columns.str.replace('ú', 'u')
df.columns = df.columns.str.replace('á', 'a')
df.columns = df.columns.str.replace('ã', 'a')
df.drop(['data_inicial', 'unidade_de_medida', 'desvio_padrao_revenda', 'coef_de_variacao_revenda'], axis=1, inplace=True)
df.rename(columns={"data_final": "data"}, inplace=True)

In [11]:
df['data'] = df['data'].str.replace('/','-')
df['data'] = pd.to_datetime(df['data'])
df['preco_medio_revenda'] = df['preco_medio_revenda'].str.replace(',','.')
df['preco_minimo_revenda'] = df['preco_minimo_revenda'].str.replace(',','.')
df['preco_maximo_revenda'] = df['preco_maximo_revenda'].str.replace(',','.')
df

,data,estado,municipio,produto,numero_de_postos_pesquisados,preco_medio_revenda,preco_minimo_revenda,preco_maximo_revenda
0,2022-03-12,MARANHAO,ACAILANDIA,ETANOL HIDRATADO,4,4.52,4.19,4.75
1,2022-03-12,GOIAS,AGUAS LINDAS DE GOIAS,ETANOL HIDRATADO,5,3.83,3.74,3.99
2,2022-03-12,RIO GRANDE DO SUL,ALVORADA,ETANOL HIDRATADO,2,5.02,4.79,5.25
3,2022-03-12,SAO PAULO,AMERICANA,ETANOL HIDRATADO,13,3.64,3.29,3.79
4,2022-03-12,SAO PAULO,AMPARO,ETANOL HIDRATADO,8,3.92,3.67,4.09
...,...,...,...,...,...,...,...,...
1437,2022-03-12,MATO GROSSO,VARZEA GRANDE,OLEO DIESEL S10,13,6.77,6.65,6.99
1438,2022-03-12,SAO PAULO,VARZEA PAULISTA,OLEO DIESEL S10,7,6.71,6.49,6.99
1439,2022-03-12,RIO GRANDE DO SUL,VIAMAO,OLEO DIESEL S10,7,6.65,6.26,6.99
1440,2022-03-12,RIO DE JANEIRO,VOLTA REDONDA,OLEO DIESEL S10,9,6.82,6.59,7.19
1441,2022-03-12,SAO PAULO,VOTUPORANGA,OLEO DIESEL S10,7,6.62,6.39,6.99

In [12]:

df['preco_medio_revenda'] = df['preco_medio_revenda'].astype(float)
df['preco_minimo_revenda'] = df['preco_minimo_revenda'].astype(float)
df['preco_maximo_revenda'] = df['preco_maximo_revenda'].astype(float)

df.dtypes

data                            datetime64[ns]
estado                                  object
municipio                               object
produto                                 object
numero_de_postos_pesquisados             int64
preco_medio_revenda                    float64
preco_minimo_revenda                   float64
preco_maximo_revenda                   float64
dtype: object

In [ ]:
engine =  create_engine('mysql+pymysql://root:1234@localhost/tcc_anp')
df.to_sql('registro_cotacao', engine, if_exists='append', index=False)
print("Carga incluida com sucesso.")